<div class="restaurants">
    <% if(typeof _data.action !=='undefined' && _data.action==='edit' ){ %>
    <div class="alert alert-success"><i class='bx bx-info-circle'></i>Menü güncellendi</div>
    <% } %>

    <% if(typeof _data.action !=='undefined' && _data.action==='add' ){ %>
    <div class="alert alert-success"><i class='bx bx-info-circle'></i>Ürün menüye eklendi</div>
    <% } %>

    <% if(typeof _data.action !=='undefined' && _data.action==='delete' ){ %>
    <div class="alert alert-danger"><i class='bx bx-info-circle'></i>Ürün menüden silindi</div>
    <% } %>

    <div class="restaurant admin">
        <div class="rest-header" style="padding-bottom: 0px;">
            <div class="flex" style="align-items: center; justify-content: start; gap: 16px;">
                <button class=" btn btn-primary btn-sm mr-2" style="width: 100%;" onclick="window.location.href='/admin/restaurants'" type="button">Restorantları Yönet</button>
                <button class=" btn btn-primary btn-sm mr-2" style="width: 100%;" onclick="window.location.href='/admin/add-menu/<%=_data.restaurant.id%>'" type="button">Yeni Yemek Ekle</button>
            </div>
        </div>

    </div>
    <% if(_data.restaurant.menu.length> 0){ %>

    <% _data.restaurant.menu.forEach(function(menuItem) { %>
    <div class="restaurant admin">
        <div class="rest-header">
            <div class="flex" style="align-items: center; justify-content: start; gap: 16px; padding-bottom: 16px; width: 100%;">
                <!-- <img src="/images/rest.png" width="32"></img> -->
                <div class="flex" style="align-items: center; justify-content: space-between; gap: 8px; width: 100%;">
                    <h3>
                        <%= menuItem.name %>
                    </h3>
                    <div>
                        <%= menuItem.kategori %>
                    </div>
                </div>
            </div>
            <div class="flex" style="align-items: center;">
                <h4>
                    <%= menuItem.price %> TL
                </h4>
                <div class="flex" style="align-items: center; justify-content: end; gap: 16px;">
                    <form action='/admin/delete-menu' method="post">
                        <input type="hidden" name="menuid" value="<%= menuItem.id %>">
                        <input type="hidden" name="restid" value="<%= _data.restaurant.id %>">
                        <button class="no-button" role="button" type="submit">Sil</button>
                    </form>
                    <button class=" btn btn-primary btn-sm mr-2" onclick="window.location.href='/admin/menus/<%= menuItem.id %>'" type="button">Düzenle</button>
                </div>
            </div>
        </div>

    </div>
    <% }); %>

    <% } else { %>
    <div class="alert alert-warning"><i class='bx bx-info-circle'></i>Restorant
        menüsü boş</div>
    <% } %>
</div>