<div class="navigation">
    <div class="container">
        <div id="map" style="width: 600px; height: 500px"></div>
    </div>
    <div class="container1">
        <div class="filter-wrapper">
            <form id="filter-form" action="/menus" method="get" autocomplete="off">
                <div class="custom-combobox-container">
                    <div class="custom-combobox" onclick="showOptions(this)">
                        <input type="text" id="inputCheckbox" name="mahalleler" readonly placeholder="Konum Seçiniz">
                        <box-icon name='chevron-down'></box-icon>
                    </div>
                    <div class="options-container" id="divOptions" onmouseleave="hideOptions(this)">
                        <% for (let i=0; i < _data.mahalleler.length; i++) { %>
                        <label for="<%= _data.mahalleler[i] %>"><input type="checkbox" id="<%= _data.mahalleler[i] %>" value="<%= _data.mahalleler[i] %>">
                            <%= _data.mahalleler[i] %> Mah.
                        </label>
                        <% } %>
                    </div>
                </div>
                <br><br>

                <div>
                    <h3>Fiyat Aralığı</h3>
                    <br>
                    <div class="input-box" style="display: flex; justify-content: space-between; align-items: center; gap: 5px;">
                        <input type="number" id="minFiyat" name="minFiyat" placeholder="Min.">
                        <span>TL</span>
                        <span style="margin-left: 5px; padding-right: 5px;">-</span>
                        <input type="number" id="maxFiyat" name="maxFiyat" placeholder="Maks.">
                        <span>TL</span>
                    </div>
                </div>
                <br><br>
                <div class="custom-combobox-container">
                    <div class="custom-combobox" onclick="showOptions2(this)">
                        <input type="text" id="inputCheckbox2" readonly placeholder="Ne Yemek İstersiniz?" name="kategoriler">
                        <box-icon name='chevron-down'></box-icon>
                    </div>
                    <div class="options-container" id="divOptions2" onmouseleave="hideOptions2(this)">
                        <% for (let i=0; i < _data.kategoriler.length; i++) { %>
                        <label for="<%= _data.kategoriler[i] %>"><input type="checkbox" id="<%= _data.kategoriler[i] %>" value="<%= _data.kategoriler[i] %>">
                            <%= _data.kategoriler[i] %>
                        </label>
                        <% } %>
                    </div>
                </div>

                <br><br>

                <div>
                    <h3>Restoran Puanı</h3> <br>
                    <div style="display: inline; padding-right: 5px;"><input type="radio" id="puan" name="puan" value="1"> 1+ </div>
                    <div style="display: inline; padding: 5px;"><input type="radio" id="puan" name="puan" value="2">
                        2+ </div>
                    <div style="display: inline; padding: 5px;"><input type="radio" id="puan" name="puan" value="3">
                        3+ </div>
                    <div style="display: inline; padding: 5px;"><input type="radio" id="puan" name="puan" value="4">
                        4+ </div>
                    <div style="display: inline; padding: 5px;"><input type="radio" id="puan" name="puan" value="5">
                        5+ </div>
                </div>
                <br>

                <div>
                    <h3>Sıralama</h3> <br>
                    <div style="padding-right: 5px; display: inline;"><input type="radio" id="sirala1" name="sirala" value="dusukfiyat"> En Düşük Fiyat </div>
                    <div style="padding-right: 5px; display: inline;"><input type="radio" id="sirala2" name="sirala" value="yuksekfiyat"> En Yüksek Fiyat </div>
                </div>
                <br>

                <div class="button">
                    <button class="filter-button" type="submit" onclick="submitFilters()">Menüleri Göster</button>
                </div>

            </form>
        </div>
    </div>
    <%- include('../../scripts/index.ejs'); %>