<div class="restaurants">
    <% if(_data.restaurantsWithMenus.length> 0) { %>
    <% _data.restaurantsWithMenus.forEach(function(rest) { %>
    <div class="restaurant">
        <a href="https://maps.google.com/?q=<%=rest.lat + ',' + rest.long%>">
            <div class="rest-header">
                <h2>
                    <%= rest.name %> - <%= rest.mahalle %>
                </h2>
                <h3 class="puan">
                    <%= rest.puan %>
                    <% let puan=Math.floor(rest.puan); %>
                    <% let kalan=rest.puan-puan; %>
                    <% for (let i=0; i < puan; i++) { %>
                    <i class='bx bxs-star'></i>
                    <% } %>
                    <% if (kalan> 0.1) { %>
                    <i class='bx bxs-star-half'></i>
                    <% } else { %>
                    <i class='bx bx-star'></i>
                    <% } %>
                    <% for (let i=0; i < 5 - puan - 1; i++) { %>
                    <i class='bx bx-star'></i>
                    <% } %>
                </h3>
            </div>
        </a>
        <div class="menus">
            <% rest.menu.forEach(function(menu) { %>
            <div class="menu">
                <div class="menu-header">
                    <h3>
                        <%= menu.name %>
                    </h3>
                    <p>
                        <%= menu.kategori %>
                    </p>
                </div>
                <p>
                    <%= menu.price %> TL
                </p>
            </div>
            <% }); %>
        </div>
    </div>
    <% }); %>
    <% } else { %>
    <div class="alert alert-warning"><i class='bx bx-info-circle'></i>Menü öğesi bulunamadı</div>
    <% } %>
</div>